.col-8 {
    margin-top: 80px;
}
h1 {
    font-weight: bold;
    color: #324A58;
    font-size: 82px;
}
p {
    color: #324A58;
    font-weight:300;
}
form{
    display: flex;
    margin: 40px 0 !important;
}
form, span{
    margin: 5px 0;
    margin-right: 10px;
}
#form {
    display: inline-flex;
}
input {
    height: 30px;
}
label{
    display:none;
}
#form_submit {
    color: #f28581 !important;
    border-color: #f28581 !important;
    -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.69);
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.20);
    background: transparent;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    padding: 2px 45px;
}
#form_submit:hover {
    color: white !important;
    border-color: #f28581 !important;
    background-color: #f28581 !important;
    -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.69);
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.20);
}
.form-select{
    border: none;
    -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.69);
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.20);
}
input {
    border: none;
    -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.69);
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.20);
}
input, span {
    margin-right: 20px;
}
.card-acti{
    -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.69);
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.20);
    border-radius: 20px;
    padding: 25px;
    margin-bottom: 4em;
    max-width: 39em;
    transition:transform .2s ease-out;
}
.card-acti:hover{
    transform: scale(1.02);
}
.card-acti:hover {
    transform: scale(1.02);
    transition:transform .2s ease-out;
}
.card-acti:hover .img-card-acti img {
    transform: rotate(30deg) scale(1.05) !important;
}
.img-card-acti {
    margin: auto;
    -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.69);
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.20);
    padding: 0;
}
.img-card-acti .img-card-acti, img {
    margin: auto;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition:transform .2s ease-out;
}
.content-card-acti .btn-card-acti{
    float: right;
    -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.69);
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.20);
    padding: 8px 12px;
}
.content-card-acti .btn-card-acti img{
    height: auto;
    margin: 0;
    transition:transform .2s ease-out;
}
.content-card-acti .btn-card-acti img:hover{
    transform: rotate(90deg) scale(1.2) !important;
}

