.pres h1 {
  font-size: 4em;
}
.first {
  font-size: 2em;
}
h1 {
  font-weight: bold;
  color: #324A58;
  font-size: 82px;
}
p {
  color: #324A58;
  font-weight:300;
}
.search {
  height: auto;
  background-color: #ffe1e1;
  -webkit-box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.69);
  box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.2);
  margin: 40px 0;
  padding: 80px 0;
}
.activite h1,
.search h1 {
  color: #f28581;
  font-size: 4em;
}
.activite{
  margin-bottom: 8rem!important;
  margin-top: 5rem!important;
}
.card-body {
  padding: 30px;
}
form div {
  display: inline-flex;
}
label {
  display: none;
}