h1 {
  font-weight: bold;
  color: #324A58;
  font-size: 82px;
}
p {
  color: #324A58;
  font-weight:300;
}
.btn {
  color: #f28581 !important;
  border-color: #f28581 !important;
  -webkit-box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.69);
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.2);
  background: transparent;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  padding: 2px 45px;
}
.btn:hover,
.btn:focus {
  color: white !important;
  border-color: #f28581 !important;
  background-color: #f28581 !important;
  -webkit-box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.69);
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.2);
}

.form-group {
  margin-right: 20px;
}
input {
  border: none !important;
}
body {
  margin-top: 120px !important;
}