{% extends 'base.html.twig' %}

{% block title %}Liste des activités !
{% endblock %}

{% block body %}
	<div class="row">
		{% for message in app.flashes('notice') %}
			<div class="error">
				{{ message }}
			</div>
		{% endfor %}

		{{ form(form) }}
			<div class="col-6 text-center my-3">
				<h3>Météo</h3>
			</div>

			<div class="col-6 text-center my-3">
				<h3>Les activités dans votre ville</h3>
			</div>
		</div>
	{% endblock %}
