{% block stylesheets %}
    <link href="{{ asset('css/headerfooter.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-1">
                <img id="logo-footer" src="img/Fav-icon.png">
            </div>
            <div class="col-3">
                <li>
                    <ul id="footer-title">
                        Les Seniorissimes
                    </ul>
                    <ul>
                        340 Rue Dupon-Dupon
                    </ul>
                    <ul>
                        69005 LYON
                    </ul>
                    <ul>
                        Tel : 04 00 00 00 00
                    </ul>
                    <ul>
                        Mail : contact@seniorissimes.com
                    </ul>
                </li>
            </div>
            <div class="col-4 text-center my-auto">
                <img class="social-network-logo" src="img/awesome-facebook-square.png">
                <img class="social-network-logo" src="img/awesome-instagram.png">
                <img class="social-network-logo" src="img/awesome-linkedin.png">
            </div>
            <div class="col-4 text-end" id="right-footer">
                <li>
                    <ul>
                        Contact
                    </ul>
                    <ul>
                        Mentions Légales
                    </ul>
                    <ul>
                        Conditions générales d'utilisation
                    </ul>
                    <ul>
                        Politique de confidentialité
                    </ul>
                </li>
            </div>
        </div>
    </div>
</footer>
