{% block stylesheets %}
	<link href="{{ asset('css/headerfooter.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

<nav class="navbar navbar-expand-lg navbar-light bg-light px-4">
    <div class="container">
        <a class="navbar-brand" href="/"><img id="logo-header" src="img/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{{ path('home')}}">Accueil <span class="sr-only"></span></a>
                <a class="nav-item nav-link" href="{{ path('activity')}}">Activités</a>
                <a class="nav-item nav-link" href="{{ path('contact')}}">Contact</a>
            </div>
        </div>
    </div>
</nav>
